@charset "UTF-8";

/*Paleta de cores: 
verde: #49a09d
roxo: #602c822b
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

body,html {
    background-color: #602c822b;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 255px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);

    transition: width 0.3s, heigth 0.3s ;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #602c82 url(../imagens/pexels-johannes-plenio-1103970.jpg);
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-image:linear-gradient(to top,#49a09d,#602c822b);
    border: none;
    box-shadow: 1px 1px 0px black;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #602c8271;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 30px;
}